@tailwind base;
@tailwind components;
@tailwind utilities;

/* minimal fallback styles */
html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial;
}
.dark {
  background: #0b1221;
  color: #e6eef8;
}
